<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-title> Photo Gallery </ion-title>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<ion-header collapse="condense">
		<ion-toolbar>
			<ion-title size="large">Photo Gallery</ion-title>
		</ion-toolbar>
	</ion-header>
	<app-explore-container name="Photo Gallery page"></app-explore-container>
</ion-content>

<ion-content>
	<ion-card
		*ngFor="let item of items"
		[routerLink]="['/', 'masterlist', item.episode_id]"
	>
		<ion-card-header>
			<ion-card-subtitle>{{item.title}}</ion-card-subtitle>
			<ion-card-title>{{item.title}}</ion-card-title>
		</ion-card-header>
		<img
			src="https://pbs.twimg.com/profile_images/1255786295500005376/onGOTAYC.jpg"
		/>
		<ion-card-content> {{item.opening_crawl}} </ion-card-content>
	</ion-card>
</ion-content>
