<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <button (click)="goBack()">go back</button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">IONIC</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 3 page"></app-explore-container>
  <p>TEST {{item.title}}</p>
  <img
    src="https://pbs.twimg.com/profile_images/1255786295500005376/onGOTAYC.jpg"
  />
  <p>{{item.opening_crawl}}</p>
</ion-content>
